[Unit]
Description=yocto_exporter service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/YoctoSensors/bin/yocto_exporter

[Install]
WantedBy=multi-user.target
